.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.top-header h3 {
    padding-right: 20px;
}

.left-header, 
.right-header {
    height: 25px;
    align-items: center;
    display: flex;
    gap: 20px;
    padding-left: 10px;
}

.left-header h3 {
    padding: 0;
}

.user-field {
    position: relative;
    display: flex;
    justify-content: space-between;
    border: 1px solid #888;
    padding: 3px;
    gap: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.profile {
    right: 20px;
    top: 35px
}

.search-container {
    display: flex;
    align-items: center;
    background-color: rgb(90, 90, 90);
    border-radius: 7px;
    margin-right: 5px;
    width: 300px;
    height: 32px;
    padding-left: 10px;
    margin-right: 10px;

}

.search-bar {
    height: 25px;
    width: 300px;
    color: white;
    font-family: inherit;
    font-size: 1rem;
    background-color: rgb(90, 90, 90);
    border: none;
}

.search-bar::-webkit-search-cancel-button {
    -webkit-appearance: none; 
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    height: 20px;
    width: 20px;
    cursor: pointer;
   }

.search-bar:focus {
    outline: none;
}