.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.top-header h3 {
    padding-right: 20px;
}

.profile-icons {
    
    display: flex;
    gap: 20px;
    padding-left: 10px;
    cursor: pointer;
}

.user-field {
    position: relative;
    display: flex;
    justify-content: space-between;
    border: 1px solid #888;
    padding: 3px;
    gap: 10px;
    border-radius: 5px;
}

.profile {
    right: 0;
    top: 35px
}