.top-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    gap: 10px;
    padding-top: 10px;
}

.top-header h3 {
    padding-right: 20px;
}

.left-header, 
.right-header {
    height: 25px;
    align-items: center;
    display: flex;
    gap: 20px;
    padding-left: 10px;
}

.left-header h3 {
    padding: 0;
}

.right-header {
    margin-left: auto;
    margin-right: auto;
}

.user-field {
    position: relative;
    display: flex;
    justify-content: space-between;
    border: 1px solid #888;
    padding: 3px;
    gap: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.profile {
    right: 20px;
    top: 35px
}

.search-container {
    display: flex;
    position: relative;
    align-items: center;
    background-color: rgb(90, 90, 90);
    border-radius: 7px;
    height: 32px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;

}

.search-bar {
    height: 25px;
    flex-shrink: 2;
    width: clamp(250px, 40vw, 620px);
    color: white;
    font-family: inherit;
    font-size: 1rem;
    background-color: rgb(90, 90, 90);
    border: none;
}

.search-bar::-webkit-search-cancel-button {
    -webkit-appearance: none; 
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    height: 20px;
    width: 20px;
    cursor: pointer;
   }

.search-bar:focus {
    outline: none;
}

.search-box {
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    /* top right bottom left */
    padding: 0 0 10px 10px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.search-box h5 {
    padding: 0;
    color: rgb(218, 218, 218, 0.4);
    margin-top: 10px;
    margin-bottom: 10px;
}

.search-section {
    min-height: 50px;
}

.results {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.results a {
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    font-family: inherit;
}