.app{
  display: grid;
  grid-template-columns: minmax(300px, 1fr) 5fr;
  background-image: linear-gradient(to bottom right, rgb(24, 48, 78), rgb(15,30,46));
  color: rgba(255, 255, 255, 0.75);
  width: 100%;
  padding: 0 7px 10px 7px;
}

.top-header {
  grid-area: 1/1/2/3;

}

@media only screen and (max-width: 600px) {
  .app {
    grid-template-columns: minmax(90vw, 580px) 1fr;
  }
}
