

.root, .app, body{
  display: grid;
  grid-template-columns: minmax(300px, 580px) 1fr;
  background-color: black;
  color: white;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
}

.top-header {
  width: 100%;
  grid-area: 1/1/2/3;

}

.side-bar {
  grid-area: 2/1/3/2;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: rgb(20, 20, 20);
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .app {
    grid-template-columns: minmax(90vw, 580px) 1fr;
  }
}
