.root, .app, body{
  display: grid;
  grid-template-columns: minmax(300px, 580px) 1fr;
  background-image: linear-gradient(to bottom right, rgb(24, 48, 78), rgb(15,30,46));
  color: rgba(255, 255, 255, 0.75);
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  gap: 5px;
}

.top-header {
  width: 100%;
  grid-area: 1/1/2/3;

}

@media only screen and (max-width: 600px) {
  .app {
    grid-template-columns: minmax(90vw, 580px) 1fr;
  }
}
