.side-bar-header {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

.side-bar-header button {
    height: 2rem;
    color: white;
    background-color: rgb(20, 20, 20);
    font-size: 2rem;
    border: none;
    cursor: pointer;
}

.rooms {
    padding-top: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2rem;
}

.room {
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
}

.room.active {
    background-color: rgba(211, 211, 211, 0.183);
}

.join-group-container {
    position: relative;
}

.join-group-menu,
.popover {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 3px;
    background-color: rgb(90, 90, 90);
    
}

.join-group-menu {
    padding: 10px;
    right: 0;
    top: 39px;
    border-radius: 5px;
}

.popover-item{
    z-index: 1;
    font-size: 0.8rem;
    text-align: right;
    text-decoration: none;
    color: white;
    width: 90px;
}

.popover > .triangle {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    z-index: 0;
    background-color: rgb(90, 90, 90);
    border: none;
    transform: rotate(45deg);
    top: -4px;
    right: 5px;
}

.room-type-header > button {
    cursor: pointer;
    color: white;
    background-color: rgb(20, 20, 20);
    border: none;
    font-family: inherit;
    font-size: 1.2rem;
}

.room-type-header button:nth-child(-n + 2) {
    border-right: solid white 2px;
}

.room-type-header .active-btn {
    text-decoration: underline;
    cursor: default;
}