.side-bar {
    grid-area: 2/1/3/2;
    height: calc(100vh - 80px);
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    border-radius: 10px 0 0 10px;
    background-image: linear-gradient(rgb(16, 34, 50),rgb(11,21,31));
    padding: 10px;
    border: 1px solid rgba(211, 211, 211, 0.183);
  }  

.side-bar-header {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

.side-bar-header button {
    height: 2rem;
    color: rgba(255, 255, 255, 0.75);
    background-color: transparent;
    font-size: 2rem;
    border: none;
    cursor: pointer;
}

.channels {
    padding-top: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2rem;
}

.channel {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
}

.channel.active {
    background-color: rgba(211, 211, 211, 0.183);
}

.join-group-container {
    position: relative;
}

.join-group-menu,
.popover {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 3px;
    background-color: rgb(90, 90, 90);
    padding: 10px;
}

.join-group-menu {
    right: 0;
    top: 39px;
    border-radius: 5px; 
}

.popover-item{
    z-index: 1;
    font-size: 0.8rem;
    text-align: right;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
    width: 90px;
}

.popover > .triangle {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    z-index: 0;
    background-color: rgb(90, 90, 90);
    border: none;
    transform: rotate(45deg);
    top: -4px;
    right: 5px;
}

.channel-type-header > button {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.75);
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: 1.2rem;
}

.channel-type-header button:nth-child(-n + 2) {
    border-right: solid white 2px;
}

.channel-type-header .active-btn {
    text-decoration: underline;
    cursor: default;
}