.side-bar-header {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

.side-bar-header button {
    height: 2rem;
    color: white;
    background-color: rgb(20, 20, 20);
    font-size: 2rem;
    border: none;
    cursor: pointer;
}

.rooms {
    padding-top: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2rem;
}

.room {
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
}

.room.active {
    background-color: rgba(211, 211, 211, 0.183);
}

.join-group-container {
    position: relative;
}

.join-group-menu {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 3px;
    background-color: rgb(44, 44, 44);
    border-radius: 5px;
    padding: 7px;
}

.join-group-item {
    font-size: 0.8rem;
    text-align: right;
    text-decoration: none;
    color: white;
    width: 100px;
}