.side-bar-header {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

.side-bar-header button {
    height: 2rem;
    color: white;
    background-color: rgb(20, 20, 20);
    font-size: 2rem;
    border: none;
    cursor: pointer;
}

.rooms {
    padding-top: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2rem;
}

.room {
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
}

.room.active {
    background-color: rgba(211, 211, 211, 0.183);
}
