.message-body {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 75px);
  min-width: 300px;
  min-height: 400px;
  justify-content: space-between;
  border-right: 1px solid rgba(211, 211, 211, 0.183);
  border-top: 1px solid rgba(211, 211, 211, 0.183);
  border-bottom: 1px solid rgba(211, 211, 211, 0.183);
  border-radius: 0 10px 10px 0;
  background-color: rgb(25, 25, 25);

}
.messages-top-bar {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(44, 44, 44);
  border-top-right-radius: 10px;
  color: white;
}
.messages-top-bar h2 {
  margin: 0;
}

.main-message-content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 30px - 180px);
  overflow-x: hidden;
}

/* custom scrollbar */
.main-message-content::-webkit-scrollbar {
  width: 5px;
}

.main-message-content::-webkit-scrollbar-track {
  background: rgb(20, 20, 20);
}

.main-message-content::-webkit-scrollbar-thumb {
  background: #888;
}

.message {
  width: clamp(230px, 30%, 500px);
  word-break: break-all;
  white-space: normal;
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
  color: white;
}

.message h6 {
  margin: 0;
}

.send-message {
  justify-self: flex-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top: 1px solid rgb(44, 44, 44);
  min-width: 300px;
}
.message-input {
  flex: 1 1 auto;
  resize: none;
  background-color: rgb(25, 25, 25);
  border: 2px solid rgb(44, 44,44);
  color: white;
  font-family: inherit;
  font-size: 1rem;
}

.submit-message-btn {
  margin: 0 10px 10px 0;
}

.from {
  font-size: 1.0rem;
}

.date-posted {
  font-size: 0.7rem;
  color: rgb(213, 212, 212, 0.7);
}

.message-header {
  display: flex;
  align-items: center;
  gap: 10px;
}