html {
  height: 100vh;
}
body {
  margin: 0;
  display: flex;
  min-width: 320px;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100;
  padding-bottom: 10px;
}
#root {
  height: 100vh;
  width: 100%;
}
