name: Deploy
on:
  push:
    branches: 
      - main
jobs:
  run:
    runs-on: ubuntu-latest
    env:
      AWS_REGION: us-east-2
    steps:
        - uses: actions/checkout@v1

        - name: Install dependencies
          run: yarn

        - name: Build
          run: yarn build

        - name: Deploy
          uses: lbertenasco/s3-deploy@v1
          with:
            role-to-assume: arn:aws:iam::584742206045:oidc-provider/token.actions.githubusercontent.com
            role-session-name: GitHub_to_AWS_via_FederatedOIDC
            folder: build
            bucket: ${{ secrets.S3_BUCKET }}
            dist-id: ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }}
            invalidation: / *
